<div class="container">
  <div class="jumbotron text-center">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>

<div class="container p-3 form-wrapper">
  <form class="grid d-flex card p-3 flex-row gap-4 m-0" [formGroup]="form" (ngSubmit)="addCompany()">
    <div [style.width]="fieldWidth" class="d-flex flex-column">
      <span class="p-label py-1">{{ 'companyName' | translate }}</span>
      <input type="text" pInputText placeholder="{{ 'companyName' | translate }}" formControlName="companyName" />
    </div>

    <div [style.width]="fieldWidth" class="d-flex flex-column">
      <span class="p-label py-1">{{ 'companyWebsiteUrl' | translate }}</span>
      <input
        type="text"
        pInputText
        placeholder="{{ 'companyWebsiteUrl' | translate }}"
        formControlName="companyWebsiteUrl"
      />
    </div>

    <div [style.width]="fieldWidth" class="d-flex flex-column">
      <span class="p-label py-1">{{ 'companyEmail' | translate }}</span>
      <input type="text" pInputText placeholder="{{ 'companyEmail' | translate }}" formControlName="companyEmail" />
    </div>

    <div [style.width]="fieldWidth" class="d-flex flex-column dropdown">
      <span class="p-label py-1">Country</span>
      <p-dropdown
        [options]="countries"
        formControlName="country"
        optionLabel="name"
        optionValue="value"
        placeholder="Country"
      >
      </p-dropdown>
    </div>

    <div [style.width]="fieldWidth" class="d-flex flex-column">
      <span class="p-label py-1">{{ 'companyAddress' | translate }}</span>
      <input type="text" pInputText placeholder="{{ 'companyAddress' | translate }}" formControlName="companyAddress" />
    </div>

    <div [style.width]="fieldWidth" class="d-flex flex-column">
      <span class="p-label py-1">{{ 'companyDescription' | translate }}</span>
      <textarea
        [rows]="1"
        [cols]="30"
        pInputTextarea
        [autoResize]="false"
        placeholder="{{ 'companyDescription' | translate }}"
        formControlName="companyDescription"
      ></textarea>
    </div>
    <button pButton type="submit" label="Save" class="p-button-outlined mt-4" [disabled]="form.invalid"></button>
    <button pButton label="Cancel" class="p-button-outlined mt-4 p-button-danger" routerLink="/companies"></button>
  </form>
</div>
