::ng-deep {
  .form-wrapper {
    form {
      width: 100%;
      flex-wrap: wrap;

      .dropdown {
        p-dropdown {
          width: 100%;

          .p-dropdown {
            width: 100%;
          }
        }
      }

      p-inputNumber {
        span {
          width: 100%;
        }
      }
    }
  }
}
